$font-normal: "RobotoCondensed-Regular";
$font-bold: "RobotoCondensed-Bold";
$font-light: "Condensed-Light", sans-serif;
$font-BankGothic: "BankGothic";

// color
// store
$contactForm_border: rgb(0, 160, 210);

//
$black-color: rgb(20, 20, 20);
$blue-color: rgb(0, 79, 158);
$blue_hover-color: rgb(0, 67, 135);
$white-color: rgb(255, 255, 255);
$white_opacity-color: rgba(255, 255, 255, 0.8);
$red-color: rgb(204, 0, 0);
$new-color: rgb(212, 88, 88);
$grey-color: rgb(157, 157, 157);
$grey_border-color: rgb(235, 233, 224);
$grey_blend-color: rgb(93, 93, 93);
$grey_footer_bottom-color: rgb(80, 80, 80);
$orange-color: rgb(226, 116, 55);
$orange_opacity-color: rgb(212, 107, 50);
$grey__bg: rgb(230, 230, 230);
$grey__bg-text: rgb(93, 93, 93);
$green-color: rgb(156, 208, 50);
$dark_red_color: rgb(116, 40, 48);

// media
$laptop: 1520px;
$tablet: 1024px;
$mobile: 767px;
$mobilesm: 575px;
$mobilexs: 479px;
$mobiles: 320px;
