@import "main-bx";

@include animationsAll;

.header {
    a {
        color: $white-color;
    }
    &__top {
        font-size: 16px;
        .container {
            @include flex;
            @include to($mobile) {
                flex-wrap: nowrap;
            }
        }
        background-color: $black-color;
        &--left {
            position: relative;
            z-index: 1;
            padding: 15px 0;
            display: flex;
            align-items: center;
            padding-right: 44px;
            border-right: 9px solid $dark_red_color;
            @include to($mobile) {
                border-right: none;
                justify-content: space-between;
                flex-direction: row-reverse;
                padding-right: 5%;
                width: 30%;
            }
            &::before {
                content: "";
                background-color: $orange-color;
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                width: 1920px;
                height: 100%;
            }
            li {
                @include to($mobile) {
                    width: 40px;
                    margin-right: 0;
                    &.phone {
                        svg {
                            width: 75%;
                        }
                    }
                }
                &:first-child {
                    margin-right: 36px;
                    @include to($mobile) {
                        margin-right: 0;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    span {
                        display: table;
                        @include to($mobile) {
                            display: none;
                        }
                    }
                }
                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }
            }
            svg {
                margin-right: 11px;
                @include to($mobile) {
                    margin-right: 0;
                }
            }
        }
        &--right {
            padding: 15px 0;
            display: flex;
            margin-left: auto;
            @include to($mobile) {
                margin: 0;
                justify-content: space-between;
                align-items: center;
                flex-direction: row-reverse;
                width: inherit;
                width: 70%;
            }
            li {
                margin: 0 25px;
                position: relative;
                @include to($mobile) {
                    width: 40px;
                    margin: 0;
                    &.facebooke {
                        background-color: $white-color;
                        border-radius: 50%;
                        padding-top: 10px;
                        svg {
                            height: 40px;
                            path {
                                fill: $orange-color;
                            }
                        }
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    @include transition;
                    span {
                        @include to($mobile) {
                            display: none;
                        }
                    }
                }
                &::after {
                    content: "";
                    height: 22px;
                    width: 1px;
                    background-color: $white-color;
                    position: absolute;
                    right: -25px;
                    top: 0;
                    @include to($mobile) {
                        content: none;
                    }
                }
                img,
                svg {
                    margin-right: 12px;
                    @include to($mobile) {
                        margin-right: 0;
                    }
                }
                &:hover {
                    a {
                        color: $orange-color;
                    }
                    svg {
                        path {
                            fill: $orange-color;
                            @include to($mobile) {
                                fill: $white-color;
                            }
                        }
                    }
                }
                &:last-child {
                    margin-right: 0;
                    svg {
                        margin-right: 0;
                        @include to($mobile) {
                            height: 30px;
                        }
                    }
                    &::after {
                        content: none;
                    }
                }
            }
        }
        @include to($mobile) {
            background-color: $orange-color;
            margin-bottom: 30px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__center {
        @include flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 50px;
        a {
            color: $black-color;
        }
        &-mobile--menu {
            display: none;
            position: relative;
            align-items: center;
            height: 25px;
            width: 28px;
            span {
                width: 100%;
                height: 4px;
                background-color: $dark_red_color;
                &::after,
                &::before {
                    content: "";
                    width: 28px;
                    height: 4px;
                    background-color: $dark_red_color;
                    position: absolute;
                    left: 0;
                }
                &::after {
                    bottom: 0;
                }
                &::before {
                    top: 0;
                }
            }
            @include to($mobile) {
                display: flex;
            }
        }
        &-logo {
            position: relative;
            .img {
                width: 100%;
                max-width: 277px;
                svg {
                    width: 100%;
                }
                @include to($mobile) {
                    max-width: 190px;
                }
            }
            .timer {
                position: absolute;
                right: -25px;
                top: -28px;
                svg {
                    width: 100%;
                }
                @include to($mobile) {
                    max-width: 20px;
                    right: -13px;
                    top: -13px;
                }
            }
        }
        &-rigth {
            @include flex;
            align-items: center;
            justify-content: space-between;
        }
        &-search {
            width: 100%;
            max-width: 485px;
            position: relative;
            @include to($mobile) {
                display: none;
                position: absolute;
                width: 100%;
                background-color: $white-color;
                z-index: 5;
                top: 70px;
                left: 0;
            }
            input {
                width: 100%;
                display: block;
                outline: none;
                border: 1px solid $black-color;
                padding: 15px 25px;
                background-color: transparent;
                color: $black-color;
                font-size: 16px;
                &::placeholder {
                    font-family: inherit;
                }
            }
            button {
                position: absolute;
                right: 0;
                top: 0;
                background-color: transparent;
                cursor: pointer;
                height: 100%;
                width: 50px;
            }
        }
        &-cabinet,
        &-cart {
            & > a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 85px;
                text-align: center;
                @include to($mobile) {
                    max-width: 45px;
                }
                span {
                    @include transition;
                    @include to($mobile) {
                        display: none;
                    }
                }

                &:hover {
                    span {
                        color: $orange-color;
                    }
                    svg {
                        path {
                            fill: $orange-color;
                        }
                    }
                }
            }
            svg {
                margin-bottom: 10px;
            }
        }
        &-cabinet {
            margin-right: 60px;
            @include to($mobile) {
                margin-right: 20px;
            }
        }
        &-cart {
            position: relative;
            .cart__quantity {
                position: absolute;
                right: 0;
                top: -5px;
                background-color: $orange-color;
                border-radius: 50%;
                font-size: 16px;
                color: $white-color;
                width: 21px;
                height: 21px;
                text-align: center;
                padding: 1px 0 0;
            }
        }
    }
    &__bottom {
        background-color: $black-color;
        position: relative;
        @include transition;
        @include to($mobile) {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 5;
            background-color: $white-color;
            padding-top: 20px;
            a {
                color: $black-color;
            }
            &:after {
                top: 0;
            }
        }
        &.active {
            display: block;
        }
        &::after {
            content: "";
            width: 100%;
            height: 6px;
            background-color: $orange-color;
            position: absolute;
            top: -10px;
            left: 0;
        }
        &-menu {
            @include to($mobile) {
                overflow: auto;
            }
            a {
                display: flex;
                align-items: center;
                @include transition;
                @include to($mobile) {
                    justify-content: center;
                }
                &[aria-current="page"] {
                    color: $orange-color;
                }
                &:hover {
                    color: $orange-color;
                    svg {
                        path {
                            fill: $orange-color;
                        }
                    }
                }
            }
            .menu {
                @include flex;
                align-items: center;
                justify-content: space-between;
                @include to($mobile) {
                    justify-content: center;
                }
                li.menu__item {
                    position: relative;
                    padding: 24px 0;
                    @include transition;
                    font-size: 22px;
                    @include to($mobile) {
                        width: 100%;
                        padding: 10px 0;
                    }
                    span.icon {
                        display: flex;
                        align-items: center;
                        margin-right: 13px;
                        @include to($mobile) {
                            display: none;
                            justify-content: center;
                        }
                    }
                    &:last-child {
                        span.icon {
                            margin-right: 0;
                            margin-left: 13px;
                        }
                        & > a {
                            display: flex;
                            flex-direction: row-reverse;
                        }
                        .sub__menu {
                            left: unset;
                            right: 0;
                        }
                    }
                    &:hover {
                        & > a {
                            color: $orange-color;
                            svg {
                                path {
                                    fill: $orange-color;
                                }
                            }
                        }
                        .sub__menu {
                            visibility: visible;
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }
                }
            }
            .sub__menu {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                left: 0;
                top: 70px;
                background-color: $black-color;
                width: 235px;
                padding: 10px 0 20px 30px;
                @include transition;
                z-index: 1;
                li.sub__menu-item {
                    padding: 11px 0;
                    font-size: 18px;
                }
                @include to($mobile) {
                    background-color: transparent;
                    visibility: visible;
                    opacity: 1;
                    position: relative;
                    top: 0;
                    width: 100%;
                    padding: 0;
                    a {
                        color: $black-color;
                    }
                    &::after {
                        content: "+";
                        position: absolute;
                        right: 10%;
                        top: -25px;
                        padding: 0 10px;
                        z-index: 1;
                    }
                    li.sub__menu-item {
                        display: none;
                    }
                }
            }
        }
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
            &::after {
                top: unset;
                left: 0;
                bottom: 0;
            }
        }
    }
}
