@import "main-bx";

div.product {
    @include flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    div.onsale,
    div.discount,
    div.sale {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $dark_red_color;
        font-size: 16px;
        color: $white-color;
        text-align: center;
        padding: 5px 10px;
        z-index: 1;
        height: 30px;
    }
    & > h3 {
        font-family: $font-light;
        position: relative;
        padding: 20px 0;
        margin-bottom: 38px;
        font-weight: normal;
        @include to($mobile) {
            text-align: center;
            font-size: 18px;
        }
        &::after,
        &::before {
            content: "";
            background-color: $orange-color;
            width: 80px;
            height: 3px;
            position: absolute;
            left: 0;
            @include to($mobile) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }
    }
    div.discount {
        top: 30px;
    }
    a {
        color: $orange-color;
    }
    @include to($mobile) {
        display: block;
        grid-template-areas:
            "img"
            "summary";
        grid-template-columns: 1fr;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        margin-top: 65px;
        font-size: 16px;
        color: $grey-color;
        &-left {
            a {
                color: $grey-color;
                display: inline-block;
                position: relative;
                @include transition;
                &::before {
                    content: "<";
                    margin-right: 5px;
                }
                &:hover {
                    color: $orange-color;
                }
            }
        }
    }
    .main__bottom-about {
        margin-top: 50px;
    }
    &__description {
        &--top {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 24px;
            margin-bottom: 65px;
            @include to($mobile) {
                grid-template-columns: 1fr;
            }
            .item {
                padding: 20px;
                width: 100%;
                max-width: 375px;
                border: 1px solid #f1f0ea;
                min-height: 171px;
                h4 {
                    margin-bottom: 17px;
                    color: $orange-color;
                    text-transform: uppercase;
                    @include transition;
                    @include to($mobile) {
                        position: relative;
                        width: 100%;
                        margin-bottom: 0;
                        &::after {
                            content: "+";
                            position: absolute;
                            right: 0px;
                            top: 0px;
                            @include transition;
                        }
                    }
                }
                @include to($mobile) {
                    min-height: 1px;
                    &.active {
                        h4 {
                            margin-bottom: 15px;
                            &::after {
                                content: "-";
                            }
                        }
                    }
                    p {
                        display: none;
                    }
                }
            }
        }
        &--bottom {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0 60px;
            position: relative;
            color: $white-color;
            padding: 30px 0 40px;
            @include to($mobile) {
                grid-template-columns: 1fr;
            }
            &::after {
                content: "";
                background-color: $orange-color;
                left: -200%;
                top: 0;
                width: 1000%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }
            .item {
                border-bottom: 1px solid $white-color;
                padding: 10px 0;
                padding-left: 13px;
                display: flex;
                justify-content: space-between;
                @include to($mobile) {
                    padding-left: 5px;
                }
                span {
                    display: inline-block;
                    flex: 0 0 50%;
                    @include to($mobile) {
                        font-size: 16px;
                    }
                    &:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }
}
.related {
    margin-top: 50px;
    width: 100%;
    grid-area: related;
    ul {
        display: block !important;
        .slick-slide {
            width: 266px;
            .shipping_de {
                display: none !important;
            }
        }
    }
    h2 {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        font-size: 43px;
        line-height: 1.2;
        font-family: $font-bold;
        max-width: 845px;
        width: 100%;
        text-align: center;
        margin: 45px auto;
        text-transform: uppercase;
        span {
            color: $orange-color;
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: $orange-color;
            width: 83px;
            height: 3px;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
}
.summary.entry-summary {
    grid-area: summary;
    width: 100%;
    max-width: 620px;
    @include to($tablet) {
        max-width: 450px;
    }
    ins {
        text-decoration: none !important;
    }
    del {
        font-size: 24px;
        font-family: $font-normal;
        color: $dark_red_color;
        opacity: 1 !important;
    }
    .stock {
        display: none !important;
    }
    h1 {
        width: 100%;
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 35px;
        margin-bottom: 22px;
        @include to($mobile) {
            font-size: 26px;
            margin-bottom: 15px;
        }
    }
    h3 {
        font-family: $font-light;
        position: relative;
        padding: 20px 0;
        margin-bottom: 38px;
        font-weight: normal;
        @include to($mobile) {
            text-align: center;
            font-size: 18px;
        }
        &::after,
        &::before {
            content: "";
            background-color: $orange-color;
            width: 80px;
            height: 3px;
            position: absolute;
            left: 0;
            @include to($mobile) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }
    }
    ul {
        padding-left: 40px;
        margin-bottom: 30px;
        li {
            position: relative;
            margin-bottom: 10px;
            &::before {
                content: url(../img/awesome/check.png);
                position: absolute;
                left: -40px;
            }
        }
    }
    .woocommerce-product-details__short-description {
        ul {
            margin: 1.5em 0 0;
            li {
                line-height: 2em;
            }
        }
    }
    .legacy-itemprop-offers {
        text-align: end;
        .price {
            font-size: 38px;
            color: $orange-color;
            font-family: $font-bold;
            white-space: nowrap;
            text-align: center;
        }
        .woocommerce-price-suffix {
            display: none;
        }
        .shipping_de_string,
        .woocommerce-de_price_taxrate,
        .woocommerce_de_versandkosten {
            font-size: 12px;
            color: $grey-color;
        }
    }
}
.woocommerce-variation-add-to-cart {
    @include flex;
    align-items: center;
    justify-content: flex-end;
    @include to($mobile) {
        flex-wrap: nowrap;
    }
}
form.cart {
    max-width: 100%;
    top: 0;
    position: relative;
    background-color: transparent;
    padding: 0;
    @include flex;
    align-items: center;
    justify-content: flex-end;
    .tinv-wraper.tinv-wishlist {
        display: none !important;
    }
    .variations {
        width: 100%;
        tbody {
            @include flex;
        }
        tr {
            margin: 0 20px 0 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 175px;
            @include to($mobile) {
                max-width: 48%;
                margin: 0 auto;
            }
            &:last-child {
                margin: 0;
            }
            .label {
                display: none !important;
            }
            select {
                display: block;
                width: 100%;
                padding: 15px;
                border: 1px solid rgb(241, 240, 234);
                border-radius: 0;
                background-color: $white-color;
                font-family: inherit;
                font-size: 16px;
                font-weight: normal;
                color: $black-color;
                cursor: pointer;
                appearance: none;
                background-image: url(../img/awesome/triangle.png);
                background-repeat: no-repeat, repeat;
                background-position: right 0.7em top 50%, 0 0;
                background-size: 0.65em auto, 100%;
            }
        }
    }
    .reset_variations {
        display: block;
        margin: 10px 0 0;
        white-space: nowrap;
        color: $dark_red_color;
    }
    .quantity {
        position: relative;
        @include to($mobile) {
            margin-right: 20px;
        }
        input {
            display: block;
            width: 100%;
            max-width: 48px;
            height: 50px;
            border-radius: 0;
            background-color: $white-color;
            font-family: inherit;
            font-weight: normal;
            color: inherit;
            cursor: pointer;
            border: 1px solid rgb(241, 240, 234);
            padding: 11px 0 11px 5px;
            margin-right: 12px;
            @include to($mobile) {
                text-align: center;
            }
        }
    }
    .single_add_to_cart_button {
        position: relative;
        background-color: $orange-color;
        border: 1px solid $orange-color;
        cursor: pointer;
        padding: 13px 15px;
        margin: 1rem 0;
        line-height: 1;
        color: $white-color;
        display: block;
        font-size: 20px;
        height: 50px;
        @include transition;
        display: flex;
        align-items: center;
        svg {
            margin-left: 15px;
        }
        &:hover {
            background-color: $white-color;
            color: $orange-color;
            svg {
                path {
                    fill: $orange-color;
                }
            }
        }
        @include to($mobile) {
            font-size: 1em;
            white-space: nowrap;
            width: 100%;
        }
    }
    .single_variation_wrap {
        @include flex;
        align-items: center;
        margin: 20px 0;
        @include to($mobile) {
            justify-content: flex-end;
        }
        .woocommerce-variation {
            &-availability {
                display: none !important;
            }
            &-price {
                margin-right: 30px;
                ins {
                    text-decoration: none !important;
                }
                del {
                    font-size: 24px;
                    font-family: $font-normal;
                    color: $dark_red_color;
                    opacity: 1 !important;
                }
                .price {
                    font-size: 38px;
                    color: $orange-color;
                    font-family: $font-bold;
                }
                .shipping_de_string,
                .woocommerce-de_price_taxrate,
                .woocommerce_de_versandkosten {
                    display: none !important;
                }
            }
        }
    }
    a.added_to_cart {
        position: absolute;
        bottom: -15px;
    }
}
.woocommerce-product-gallery {
    grid-area: img;
    width: 100%;
    max-width: 506px;
    position: relative;
    display: grid;
    grid-template-areas:
        "sliderTop"
        "sliderBottom";
    grid-template-rows: 0fr 0fr 0fr;
    min-height: 500px;
    @include to($mobile) {
        min-height: 1px;
    }
    &__trigger {
        display: none !important;
        position: absolute;
        display: block;
        left: 100%;
        top: 5px;
        z-index: 1;
        width: 20px;
        height: 20px;
        text-align: center;
        &::after {
            content: "";
            color: $orange-color;
            font-weight: bold;
        }
    }
    &__image {
        a {
            & > img {
                @include to($mobiles) {
                    margin: 0 auto !important;
                    display: block !important;
                    width: 100vw !important;
                    object-fit: cover !important;
                }
            }
        }
    }
    .flex-viewport {
        grid-area: sliderTop;
    }
    .flex-control-nav {
        grid-area: sliderBottom;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0;
        margin-top: 20px;
        @include to($mobile) {
            justify-content: center;
            li {
                margin: 5px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        li {
            margin: 0 5px;
            border: 1px solid $grey-color;
            cursor: pointer;
            img {
                width: 100px;
                display: block;
                height: 100px;
                object-fit: contain;
            }
        }
    }
}
.pswp__bg {
    opacity: 0.7 !important;
}
