@import "main-bx";

div.product {
    @include flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    .onsale {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $dark_red_color;
        font-size: 16px;
        color: $white-color;
        text-align: center;
        padding: 5px 10px;
        z-index: 1;
    }
    a {
        color: $blue-color;
        &:hover {
            color: $blue_hover-color;
        }
    }
    @include to($mobile) {
        display: block;
        grid-template-areas:
            "img"
            "summary";
        grid-template-columns: 1fr;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        margin-top: 65px;
        font-size: 16px;
        color: $grey-color;
        &-left {
            a {
                color: $grey-color;
                display: inline-block;
                position: relative;
                @include transition;
                &::before {
                    content: "<";
                    margin-right: 5px;
                }
                &:hover {
                    color: $orange-color;
                }
            }
        }
    }
    .main__bottom-about {
        margin-top: 50px;
    }
    &__description {
        &--top {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 24px;
            margin-bottom: 65px;
            .item {
                padding: 20px;
                width: 100%;
                max-width: 375px;
                border: 1px solid #f1f0ea;
                min-height: 171px;
                h4 {
                    margin-bottom: 17px;
                    color: $orange-color;
                    text-transform: uppercase;
                }
            }
        }
        &--bottom {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 60px;
            margin-bottom: 65px;
            position: relative;
            color: $white-color;
            padding: 30px 0;
            &::after {
                content: "";
                background-color: $orange-color;
                left: -200%;
                top: 0;
                width: 1000%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }
            .item {
                border-bottom: 1px solid $white-color;
                padding: 10px 0;
                padding-left: 13px;
                display: flex;
                justify-content: space-between;
                span {
                    display: inline-block;
                    flex: 0 0 50%;
                    &:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }
}
.related {
    width: 100%;
    grid-area: related;
    ul {
        grid-template-columns: repeat(4, 1fr) !important;
        .shipping_de.shipping_de_string {
            display: none;
        }
    }
    h2 {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        font-size: 43px;
        line-height: 1.2;
        font-family: $font-bold;
        max-width: 845px;
        width: 100%;
        text-align: center;
        margin: 45px auto;
        text-transform: uppercase;
        span {
            color: $orange-color;
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: $orange-color;
            width: 83px;
            height: 3px;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
}
.summary.entry-summary {
    grid-area: summary;
    width: 100%;
    max-width: 620px;
    min-height: 500px;
    h1 {
        width: 100%;
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 35px;
        margin-bottom: 22px;
    }
    .product__description {
        &-top {
            font-family: $font-light;
            position: relative;
            padding: 20px 0;
            margin-bottom: 38px;
            &::after,
            &::before {
                content: "";
                background-color: $orange-color;
                width: 80px;
                height: 3px;
                position: absolute;
                left: 0;
            }
            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
        }
        &-bottom {
            padding-left: 40px;
            margin-bottom: 30px;
            li {
                position: relative;
                margin-bottom: 10px;
                &::before {
                    content: url(../img/awesome/check.png);
                    position: absolute;
                    left: -40px;
                }
            }
        }
    }
    .woocommerce-product-details__short-description {
        ul {
            margin: 1.5em 0 0;
            li {
                line-height: 2em;
            }
        }
    }
}
.woocommerce-variation-add-to-cart {
    @include to($mobile) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        align-items: center;
    }
}
form.cart {
    max-width: 100%;
    top: 0;
    position: static;
    background-color: transparent;
    padding: 0;
    .variations {
        width: 100%;
        tr {
            margin: 15px 0;
            display: flex;
            flex-direction: column;
            &:last-child {
                margin-bottom: 0;
            }
            .label {
                font-size: 0.875rem;
                margin-bottom: 5px;
            }
            select {
                display: block;
                width: 100%;
                max-width: 175px;
                padding: 15px;
                border: 1px solid $grey-color;
                border-radius: 0;
                background-color: $white-color;
                font-family: inherit;
                font-size: 16px;
                font-weight: normal;
                color: $black-color;
                cursor: pointer;
                appearance: none;
                background-image: url(../img/awesome/triangle.png);
                background-repeat: no-repeat, repeat;
                background-position: right 0.7em top 50%, 0 0;
                background-size: 0.65em auto, 100%;
            }
        }
    }
    .reset_variations {
        display: block;
        margin: 10px 0 0;
    }
    .quantity {
        position: relative;
        input {
            display: block;
            width: 100%;
            border-radius: 0;
            background-color: $white-color;
            font-family: inherit;
            font-weight: normal;
            color: $orange-color;
            cursor: pointer;
            @include to($mobile) {
                max-width: 100%;
            }
        }
    }
    .single_add_to_cart_button {
        position: relative;
        background-color: $orange-color;
        border: 1px solid $orange-color;
        cursor: pointer;
        padding: 13px 50px 13px 15px;
        margin: 1rem 0;
        line-height: 1;
        color: $white-color;
        display: block;
        margin-left: auto;
        font-size: 20px;
        @include transition;
        &:hover {
            background-color: $white-color;
            color: $orange-color;
        }
        @include to($mobile) {
            font-size: 1em;
            white-space: nowrap;
            width: 100%;
        }
    }
}
.woocommerce-product-gallery {
    grid-area: img;
    width: 100%;
    max-width: 506px;
    position: relative;
    display: grid;
    grid-template-areas:
        "sliderTop"
        "sliderBottom";
    grid-template-rows: 0fr 0fr 0fr;
    min-height: 500px;
    &__trigger {
        position: absolute;
        display: block;
        left: 100%;
        top: 5px;
        z-index: 1;
        width: 20px;
        height: 20px;
        text-align: center;
        &::after {
            content: "";
            color: $orange-color;
            font-weight: bold;
        }
    }
    .flex-viewport {
        grid-area: sliderTop;
    }
    .flex-control-nav {
        grid-area: sliderBottom;
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
        margin-top: 20px;
        @include to($mobile) {
            justify-content: space-between;
            li {
                margin: 5px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        li {
            margin: 0 5px;
            border: 1px solid $grey-color;
            border-radius: 3px;
            cursor: pointer;
            img {
                width: 100px;
                display: block;
                padding: 5px;
                height: 100px;
                object-fit: contain;
            }
        }
    }
}
.pswp__bg {
    opacity: 0.7 !important;
}
