@import "main-bx";
.main {
    padding-bottom: 50px;
    a {
        color: $black-color;
    }
    &__header,
    &__bottom-head {
        margin-bottom: 55px;
        h1,
        h2 {
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            font-size: 43px;
            line-height: 1.2;
            font-family: $font-bold;
            max-width: 845px;
            width: 100%;
            text-align: center;
            margin: 45px auto;
            text-transform: uppercase;
            span {
                color: $orange-color;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: $orange-color;
                width: 83px;
                height: 3px;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
        p {
            text-align: center;
            line-height: 35px;
        }
    }
    &__content {
        display: grid;
        grid-template-areas:
            "sidebar slider"
            "sidebar sort"
            "sidebar products";
        grid-gap: 0 30px;
        grid-template-columns: 290px 3fr;
        &-top {
            margin-bottom: 30px;
            margin-top: 28px;
            max-width: 875px;
            width: 100%;
            grid-area: slider;
            & > p {
                font-family: $font-bold;
                display: inline-block;
                margin-bottom: 22px;
                padding-left: 20px;
                text-transform: uppercase;
            }
        }
    }

    &__bottom {
        &-description {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            margin-bottom: 50px;
            p {
                line-height: 1.75;
            }
        }
        &-about {
            margin-bottom: 50px;
            ul {
                display: flex;
                justify-content: space-between;
            }
            li {
                display: flex;
                align-items: center;

                span {
                    display: inline-block;
                    &.text {
                        font-size: 16px;
                        margin-left: 20px;
                        width: 100%;
                        max-width: 135px;
                    }
                }
            }
        }
        &-img {
            display: flex;
            margin-bottom: 50px;
            position: relative;
            @include to($mobile) {
                flex-wrap: wrap;
            }
            &::before {
                content: "";
                height: 100%;
                width: 10px;
                background-color: $dark_red_color;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                @include to($mobile) {
                    content: none;
                }
            }
            .left {
                width: 100%;
                max-width: 600px;
                display: block;
                img {
                    width: 100%;
                    display: block;
                    object-fit: contain;
                }
                @include to($mobile) {
                    border-bottom: 10px solid $dark_red_color;
                }
            }
            .right {
                width: 100%;
                max-width: 600px;
                background-color: $black-color;
                color: $white-color;
                padding: 32px 45px;
                position: relative;
                h3 {
                    font-size: 30px;
                    line-height: 1;
                    margin-bottom: 16px;
                    font-weight: normal;
                    font-family: $font-BankGothic;
                }
                p {
                    line-height: 1.5;
                }
                .button {
                    display: inline-block;
                    background-color: $orange-color;
                    color: $white-color;
                    @include transition;
                    position: absolute;
                    bottom: -30px;
                    right: 0;
                    padding: 16px 25px;
                    border: 2px solid $orange-color;
                    @include to($mobile) {
                        bottom: -85px;
                    }
                    svg {
                        margin-left: 25px;
                    }
                    &:hover {
                        background-color: $white-color;
                        border: 2px solid $orange-color;
                        color: $orange-color;
                        svg {
                            path {
                                fill: $orange-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .product__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px 0;
        @include to($mobile) {
            grid-template-columns: 1fr 1fr;
        }
        &.slider-js {
            width: 100%;
            display: block;
            .slick-slide {
                padding: 0 12.725px;
                @include to($mobile) {
                    padding: 0 5px;
                }
            }
            .slick-prev,
            .slick-next {
                right: 23px;
                left: unset;
                top: -30px;
                &:before {
                    content: none;
                }
            }
            .slick-prev {
                right: 80px;
            }
        }
    }
    .woof_sid_auto_shortcode {
        border: 1px solid $grey_border-color;
        padding: 28px !important;
        grid-area: sidebar;
        width: 100%;
        height: fit-content;
        border-radius: 0;
    }
    .woof_shortcode_output {
        grid-area: products;
    }
}
.product__item {
    border: 1px solid $grey_border-color;
    padding-bottom: 30px !important;
    width: 100%;
    max-width: 266px;
    margin: 0 auto !important;
    width: 100% !important;
    position: relative;
    @include to($mobile) {
        max-width: 165px;
    }
    &-img {
        position: relative;
        margin-bottom: 19px;
        border-bottom: 1px solid $grey_border-color;
        @include transition;
        img {
            width: 100%;
            display: block;
            height: 100%;
        }
        .discount,
        .sale {
            position: absolute;
            right: 0;
            top: 0;
            background-color: $dark_red_color;
            font-size: 14px;
            color: $white-color;
            text-align: center;
            padding: 7px 16px;
        }
        .discount {
            right: unset;
            left: 0;
        }
        &:hover {
            .tinv-wraper.tinv-wishlist {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &-name {
        font-size: 18px;
        padding: 0 24px;
        margin-bottom: 18px;
        height: 50px;
        overflow: hidden;
        @include transition;
        &:hover {
            color: $orange-color;
        }
        h3 {
            font-weight: normal;
        }
    }
    &-description {
        padding: 0 24px;
        font-size: 16px;
        color: #9d9d9d;
        margin-bottom: 30px;
    }
    &-price {
        padding: 0 15px;
        display: grid;
        grid-template-areas: "min_quantity price button";
        font-size: 26px;
        align-items: center;
        color: $orange-color;
        font-family: $font-bold;
        position: relative;
        span {
            display: inline-block;
            white-space: nowrap;
        }
        .price {
            margin: 0 auto !important;
            color: $orange-color !important;
            grid-area: price;
            del {
                opacity: 1 !important;
                & > span {
                    text-decoration: line-through;
                    color: $dark_red-color;
                }
            }
        }
        .prev-price,
        .min_quantity,
        del {
            font-size: 16px;
            font-family: $font-normal;
            color: $dark_red_color;
        }
        .min_quantity {
            text-align: left;
            width: 75px;
            white-space: normal;
            grid-area: min_quantity;
        }
        .woocommerce-de_price_taxrate {
            position: absolute;
            left: 15px;
            bottom: -20px;
            font-size: 10px;
            color: $dark_red-color;
            font-family: $font-normal;
        }
        .woocommerce_de_versandkosten {
            position: absolute;
            bottom: -20px;
            right: 15px;
            font-size: 10px;
            color: $dark_red-color;
            font-family: $font-normal;
            a {
                color: $dark_red-color;
                font-family: $font-normal;
            }
        }
    }
    &-btn {
        grid-area: button;
        background-color: $orange-color !important;
        width: 43px;
        height: 50px;
        text-align: center;
        display: block !important;
        position: relative !important;
        @include transition;
        margin: 0 0 0 auto !important;
        border-radius: 0 !important;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background-color: $white-color !important;
            svg {
                path {
                    fill: $orange-color;
                }
            }
        }
        a {
            background-color: $orange-color !important;
            width: 43px;
            height: 50px;
            text-align: center;
            display: block !important;
            position: relative !important;
            @include transition;
            margin: 0 !important;
            border-radius: 0 !important;
            padding: 0 !important;
            border: 1px solid $orange-color !important;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                background-color: $white-color !important;
                svg {
                    path {
                        fill: $orange-color;
                    }
                }
            }
        }
    }
}
.sort__form {
    margin-bottom: 30px;
    padding-right: 14px;
    grid-area: sort;
    form {
        display: block;
        width: 100%;
        max-width: fit-content;
        margin-left: auto;
    }
    select {
        font-size: 14px;
        color: $black-color;
        padding: 15px 22px;
        border: 1px solid $grey_border-color;
        width: 100%;
        cursor: pointer;
        appearance: none;
        position: relative;
        background-image: url("../img/awesome/triangle.png");
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.65em auto, 100%;
    }
}
.pagination {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    li {
        margin: 0 10px;
    }
}
// woof-filter
.woof_checkbox_term {
    max-width: 10px;
}
.woof_reset_search_form {
    color: $orange-color;
    background-color: transparent;
    font-size: 18px;
    padding: 7px;
    cursor: pointer;
    width: 100%;
}
.woof_checkbox_featured_container {
    position: relative;
    &::before {
        content: "Все товары";
        position: absolute;
        font-weight: bold;
        top: -20px;
    }
}
.woof_checkbox_featured_container,
.woof_checkbox_instock_container {
    position: relative;
    max-width: 275px;
    label {
    }
    input[type="checkbox"] + label::before {
        left: 3px;
    }
    input[type="checkbox"] + label::after {
        left: 6px;
    }
}
.woof_container {
    &_inner {
        position: relative;
        padding-left: 0 !important;
    }
    width: 100% !important;
    h4 {
        display: inline-block;
        margin-bottom: 5px;
    }
}
.woof_block_html_items ul {
    position: relative;
}
.woof_list li {
    position: relative;
    padding: 0 !important;
    font-size: 18px;
    margin: 0 !important;
}
.woof_checkbox_label {
    font-size: 18px !important;
}
.woof_submit_search_form_container {
    margin-bottom: 0;
    button {
        border: 1px solid $grey_border-color;
    }
}
// pagination
.woocommerce {
    nav.woocommerce-pagination {
        ul {
            border: none;
            margin: 20px 0 !important;
            li {
                border: none;
                a,
                span {
                    text-decoration: none;
                    padding: 0;
                    line-height: 1;
                    font-size: 20px;
                    min-width: 1em;
                    background-color: transparent;
                    &:hover {
                        background: transparent;
                        color: inherit;
                    }
                    &.current {
                        background: transparent;
                        color: $orange-color;
                        font-weight: bold;
                    }
                    &.next,
                    &.prev {
                        font-size: 10px;
                        margin: 5px 0 0;
                    }
                }
            }
        }
    }
}
// wishlist
.tinv-wraper.tinv-wishlist {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 53%;
    @include transition;
    background-color: rgba(255, 255, 255, 0.308);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    .tinvwl_add_to_wishlist_button {
        display: block;
        width: 80%;
        background-color: $orange-color;
        color: $white-color;
        font-size: 16px;
        padding: 12px 0;
        margin: 5em auto 0 !important;
        text-align: center;
    }
}
