@import "main-bx";
.main {
    padding-bottom: 50px;
    margin-bottom: 50px;
    p.woocommerce-info {
        display: none !important;
    }
    h1,
    h2 {
        text-transform: uppercase;
        margin: 20px 0;
        @include to($mobile) {
            font-size: 26px;
        }
    }
    a {
        color: $black-color;
    }
    &__header,
    &__bottom-head {
        margin-bottom: 55px;
        h1,
        h2 {
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            font-size: 43px;
            line-height: 1.2;
            font-family: $font-bold;
            max-width: 845px;
            width: 100%;
            text-align: center;
            margin: 45px auto;
            text-transform: uppercase;
            @include to($mobile) {
                font-size: 26px;
                padding-top: 25px;
                padding-bottom: 25px;
                margin: 25px 0;
            }
            span {
                color: $orange-color;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: $orange-color;
                width: 83px;
                height: 3px;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
        p {
            text-align: center;
            line-height: 35px;
            @include to($mobile) {
                line-height: 1.4;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-areas:
            "sidebar slider"
            "sidebar sort"
            "sidebar products";
        gap: 30px;
        grid-template-columns: 290px 3fr;
        grid-template-rows: 0fr 48px 1fr;
        @include to($tablet) {
            grid-template-columns: 200px 1fr;
            gap: 20px;
        }
        @include to($mobile) {
            display: block;
        }
        &--slider {
            grid-area: slider;
            @include to($tablet) {
                max-width: 70vw;
            }
            @include to($mobile) {
                max-width: 100vw;
                margin-bottom: 45px;
            }
        }
        &-top {
            margin-top: 15px;
            max-width: 875px;
            width: 100%;
            @include to($laptop) {
                max-width: 70vw;
            }
            @include to($mobile) {
                max-width: 100vw;
            }
            & > p {
                font-family: $font-bold;
                display: inline-block;
                margin-bottom: 22px;
                padding-left: 20px;
                text-transform: uppercase;
                @include to($tablet) {
                    max-width: 430px;
                }
                @include to($mobile) {
                    max-width: 100%;
                    text-align: center;
                    width: 100%;
                    padding-left: 0;
                    margin-bottom: 50px;
                    font-size: 20px;
                }
            }
            .product__items {
                margin-bottom: 0 !important;
            }
        }
    }

    &__bottom {
        @include to($mobile) {
            &:last-child {
                margin-bottom: 150px;
            }
            text-align: center;
        }
        &-top {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            margin-bottom: 50px;
            text-align: center;
            @include to($mobile) {
                grid-template-columns: 1fr;
                gap: 20px;
                margin-bottom: 50px;
                h2 {
                    grid-column: unset;
                }
                p {
                    line-height: 1.4;
                }
            }
            h2 {
                grid-column: 1/3;
            }
            p {
                line-height: 1.75;
            }
        }
        h1,
        h2 {
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            font-size: 43px;
            line-height: 1.2;
            font-family: $font-bold;
            max-width: 845px;
            width: 100%;
            text-align: center;
            margin: 45px auto;
            text-transform: uppercase;
            @include to($mobile) {
                font-size: 26px;
                padding-top: 25px;
                padding-bottom: 25px;
                margin: 25px 0;
            }
            span {
                color: $orange-color;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: $orange-color;
                width: 83px;
                height: 3px;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
        &-about {
            margin-bottom: 50px;
            width: 100%;
            @include to($tablet) {
                margin-top: 50px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            li {
                display: flex;
                align-items: center;
                @include to($tablet) {
                    width: 200px;
                    margin-bottom: 15px;
                    span.text {
                        margin-left: 10px;
                    }
                }
                @include to($mobile) {
                    width: 49%;
                    margin-bottom: 15px;
                }
                span {
                    display: inline-block;
                    &.text {
                        font-size: 16px;
                        margin-left: 20px;
                        width: 100%;
                        max-width: 135px;
                        @include to($mobile) {
                            margin-left: 15px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &-img {
            display: flex;
            margin-bottom: 50px;
            position: relative;
            @include to($mobile) {
                flex-wrap: wrap;
                width: calc(100% + 20px);
                left: -10px;
            }
            &::before {
                content: "";
                height: 100%;
                width: 10px;
                background-color: $dark_red_color;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                @include to($laptop) {
                    content: none;
                }
                @include to($mobile) {
                    content: none;
                }
            }
            .left {
                width: 100%;
                max-width: 600px;
                display: block;
                img {
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    height: 100%;
                }
                @include to($tablet) {
                    max-width: 100%;
                }
                @include to($mobile) {
                    border-bottom: 10px solid $dark_red_color;
                }
            }
            .right {
                width: 100%;
                max-width: 600px;
                background-color: $black-color;
                color: $white-color;
                padding: 32px 45px;
                position: relative;
                @include to($tablet) {
                    max-width: 100%;
                    border-left: 10px solid $dark_red_color;
                }
                @include to($mobile) {
                    padding: 24px 10px;
                    text-align: center;
                    border-left: none;
                    h3 {
                        font-size: 25px;
                        margin-bottom: 5px;
                    }
                }
                h3 {
                    font-size: 30px;
                    line-height: 1;
                    margin-bottom: 16px;
                    font-weight: normal;
                    font-family: $font-BankGothic;
                }
                p {
                    line-height: 1.5;
                }
                .button {
                    display: inline-block;
                    background-color: $orange-color;
                    color: $white-color;
                    @include transition;
                    position: absolute;
                    bottom: -30px;
                    right: 0;
                    padding: 16px 25px;
                    border: 2px solid $orange-color;
                    @include to($tablet) {
                        padding: 16px 14px;
                        width: 100%;
                        max-width: 375px;
                        left: 0 !important;
                    }
                    @include to($mobile) {
                        bottom: -60px;
                        left: -10px;
                        max-width: 100%;
                    }
                    @include to($mobiles) {
                        padding: 10px 5px;
                        left: 0;
                        bottom: -45px;
                        white-space: nowrap;
                    }
                    svg {
                        margin-left: 25px;
                    }
                    &:hover {
                        background-color: $white-color;
                        border: 2px solid $orange-color;
                        color: $orange-color;
                        svg {
                            path {
                                fill: $orange-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .product__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 0;
        margin-bottom: 30px;
        .added_to_cart {
            display: none !important;
        }
        @include from-to($mobile, $tablet) {
            max-width: 68vw;
            gap: 30px 10px;
            grid-template-columns: 1fr 1fr;
        }
        @include to($mobile) {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 50px;
            gap: 30px 10px;
        }
        &.slider-js {
            width: 100%;
            display: block;
            .slick-slide {
                padding: 0 12.725px;
                @include to($mobile) {
                    padding: 0 5px;
                    margin: 0 auto;
                }
            }
            .slick-prev,
            .slick-next {
                right: 23px;
                left: unset;
                top: -30px;
                &:before {
                    content: none;
                }
                &:hover {
                    svg {
                        path {
                            fill: $orange-color;
                        }
                    }
                }
            }
            .slick-prev {
                right: 80px;
            }
            @include to($mobile) {
                .slick-prev,
                .slick-next {
                    top: -40px;
                    right: unset;
                    left: 41%;
                    transform: translateX(-50%);
                }
                .slick-next {
                    left: 55%;
                    transform: translateX(-45%);
                }
            }
        }
        .shipping_de.shipping_de_string {
            display: none !important;
        }
    }
    .woof_sid_auto_shortcode {
        border: none;
        padding: 0 !important;
        grid-area: sidebar;
        width: 100%;
        height: fit-content;
        border-radius: 0;
        margin-bottom: 30px;
        @include to($mobile) {
            position: relative;
            top: -48px;
            margin-bottom: 0;
            padding: 0 0 0 5px !important;
            .woof__mobile__btn {
                width: 47%;
            }
        }
    }
    .woof_shortcode_output {
        grid-area: products;
    }
}
.product__item {
    border: 1px solid $grey_border-color;
    padding-bottom: 30px !important;
    max-width: 266px;
    margin: 0 auto !important;
    width: 100% !important;
    position: relative;
    @include to($tablet) {
        max-width: 100%;
    }
    @include to($mobilexs) {
        // max-width: 185px;
    }
    @include to($mobile) {
        // max-width: 165px;
        min-height: 420px;
        margin: 0 auto;
    }
    @include to($mobiles) {
        max-width: 140px;
    }

    &-img {
        position: relative;
        margin-bottom: 19px;
        border-bottom: 1px solid $grey_border-color;
        @include transition;
        position: relative;
        img {
            width: 100%;
            display: block;
            height: 100%;
        }
        .discount,
        .sale {
            position: absolute;
            right: 0;
            top: 0;
            background-color: $dark_red_color;
            font-size: 14px;
            color: $white-color;
            text-align: center;
            padding: 7px 16px;
        }
        .discount {
            right: unset;
            left: 0;
        }
    }
    &-name {
        font-size: 18px;
        padding: 0 24px;
        margin-bottom: 18px;
        height: 50px;
        overflow: hidden;
        @include transition;
        @include to($mobile) {
            min-height: 57px;
            padding: 0 15px;
            height: 75px;
            overflow: hidden;
            h3 {
                font-size: 16px;
                line-height: 1.2;
            }
        }
        &:hover {
            color: $orange-color;
        }
        h3 {
            font-weight: normal;
        }
    }
    &-description {
        padding: 0 24px;
        font-size: 16px;
        color: #9d9d9d;
        margin-bottom: 30px;
        @include to($mobile) {
            padding: 0 15px;
            margin-bottom: 15px;
            font-size: 12px;
        }
    }
    &-price {
        padding: 0 15px;
        display: grid;
        grid-template-areas: "min_quantity price button";
        font-size: 26px;
        align-self: center;
        color: $orange-color;
        font-family: $font-bold;
        position: relative;
        @include to($mobile) {
            padding: 0 10px;
            font-size: 16px;
        }
        span {
            display: inline-block;
            // white-space: nowrap;
            @include to($tablet) {
                white-space: normal;
            }
            @include to($mobile) {
                letter-spacing: -0.5px;
                white-space: nowrap;
            }
            @include to($mobiles) {
                white-space: normal;
            }
        }
        .price {
            margin: 0 auto !important;
            color: $orange-color !important;
            grid-area: price;
            del {
                opacity: 1 !important;
                & > span {
                    text-decoration: line-through;
                    color: $dark_red-color;
                }
            }
        }
        .prev-price,
        .min_quantity,
        del {
            font-size: 16px;
            font-family: $font-normal;
            color: $dark_red_color;
            @include to($mobile) {
                font-size: 12px;
            }
        }
        .min_quantity {
            text-align: left;
            width: 75px;
            white-space: normal;
            grid-area: min_quantity;
            @include to($mobile) {
                width: 50px;
            }
        }
        .woocommerce-de_price_taxrate {
            position: absolute;
            left: 15px;
            bottom: -20px;
            font-size: 10px;
            color: $dark_red-color;
            font-family: $font-normal;
            @include to($mobile) {
                left: 10px;
                font-size: 8px;
            }
        }
        .woocommerce_de_versandkosten {
            position: absolute;
            bottom: -20px;
            right: 15px;
            font-size: 10px;
            color: $dark_red-color;
            font-family: $font-normal;
            @include to($mobile) {
                right: 10px;
                font-size: 8px;
            }
            a {
                color: $dark_red-color;
                font-family: $font-normal;
            }
        }
    }
    &-btn {
        grid-area: button;
        background-color: $orange-color !important;
        width: 43px;
        height: 50px;
        text-align: center;
        display: block;
        position: relative !important;
        @include transition;
        margin: 0 0 0 auto !important;
        border-radius: 0 !important;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background-color: $white-color !important;
            svg {
                path {
                    fill: $orange-color;
                }
            }
        }
        a {
            background-color: $orange-color !important;
            width: 43px;
            height: 50px;
            text-align: center;
            display: block;
            position: relative !important;
            @include transition;
            margin: 0 !important;
            border-radius: 0 !important;
            padding: 0 !important;
            border: 1px solid $orange-color !important;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                background-color: $white-color !important;
                svg {
                    path {
                        fill: $orange-color;
                    }
                }
            }
            &::after {
                content: none !important;
            }
        }
    }

    // wishlist
    .tinv-wraper.tinv-wishlist {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 53%;
        @include transition;
        background-color: rgba(255, 255, 255, 0.308);
        opacity: 0;
        z-index: 1;
        @include to($mobile) {
            height: 39%;
        }
        .tinvwl_add_to_wishlist_button {
            display: block;
            width: 80%;
            background-color: $orange-color;
            color: $white-color;
            font-size: 16px;
            padding: 12px 0;
            margin: 5em auto 0 !important;
            text-align: center;
        }
        &:hover {
            opacity: 1;
        }
    }
}
.sort__form {
    margin-bottom: 30px;
    padding-right: 14px;
    grid-area: sort;

    @include to($mobile) {
        width: 100%;
        max-width: 50%;
        float: right;
        position: relative;
        z-index: 1;
        margin-bottom: 0px;
        padding-right: 7px;
    }
    form {
        display: block;
        width: 100%;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-left: auto;
        @include to($tablet) {
            margin-left: 0;
        }
        @include to($mobile) {
            max-width: 97%;
        }
    }
    select {
        background-color: transparent;
        font-size: 14px;
        color: $black-color;
        padding: 15px 22px;
        border: 1px solid $grey_border-color;
        width: 100%;
        cursor: pointer;
        appearance: none;
        position: relative;
        background-image: url("../img/awesome/triangle.png");
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.65em auto, 100%;
    }
}
.pagination {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    li {
        margin: 0 10px;
    }
}
// woof-filter
.woof__mobile__btn {
    background-color: $white-color;
    color: $black-color;
    border: 1px solid $grey_border-color;
    width: 100%;
    padding: 15px 22px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    max-width: 46%;
    white-space: nowrap;
    @include to($mobile) {
        display: block;
    }
}
.woof_redraw_zone {
    @include to($mobile) {
        display: none;
        margin-top: 30px;
    }
}
.woof_reset_search_form {
    color: $orange-color;
    background-color: transparent;
    font-size: 18px;
    padding: 7px;
    cursor: pointer;
    width: 100%;
    @include transition;
    text-transform: uppercase;
    &:hover {
        background-color: $orange-color;
        color: $white-color;
    }
}
.woof_checkbox_featured_container {
    position: relative;
    &::before {
        content: "Все товары";
        position: absolute;
        font-weight: bold;
        top: -20px;
    }
}
.woof_checkbox_featured_container,
.woof_checkbox_instock_container {
    position: relative;
    max-width: 275px;
    input[type="checkbox"] + label::before {
        left: 3px;
    }
    input[type="checkbox"] + label::after {
        left: 6px;
    }
}
.woof_container {
    border: 1px solid $grey_border-color;
    padding: 28px !important;
    margin-bottom: 30px !important;
    width: 100% !important;
    @include to($mobile) {
        padding: 25px !important;
    }
    &_inner {
        position: relative;
        padding-left: 0 !important;
    }
    h4 {
        display: inline-block;
        margin-bottom: 18px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-size: 20px;
            line-height: 0;
            width: 20px;
            text-align: center;
        }
    }
    label {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}
.woof_block_html_items ul {
    position: relative;
}
.woof_list li {
    position: relative;
    padding: 0 !important;
    font-size: 16px;
    margin: 0 !important;
    display: flex;
    align-items: center;
}
.woof_checkbox_term {
    position: absolute;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    &:checked + label {
        &::before {
            content: "";
            width: 16px;
            height: 1px;
            background-color: $orange-color;
            transform: rotate(-45deg);
            position: absolute;
            left: -18px;
            top: 13px;
        }
    }
    &:disabled + label {
        cursor: not-allowed;
    }
}
.woof_checkbox_label {
    position: relative;
    padding-left: 10px;
    &::after {
        content: "";
        width: 19px;
        height: 19px;
        border: 1px solid #9c9c9c;
        background-color: transparent;
        position: absolute;
        left: -19px;
    }
}
.woof_checkbox_label_selected {
    color: $orange-color;
    font-family: $font-normal !important;
}
.woof_submit_search_form_container {
    margin-bottom: 0;
    button {
        border: 1px solid $grey_border-color;
    }
}
.woof_price_search_container {
    .price_slider_amount {
        .price_label {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            width: 100%;
            &::before {
                position: absolute;
                // content: "";
                width: 44px;
                height: 100%;
                background-color: white;
                left: 0;
                top: 0;
            }
            .from,
            .to {
                text-align: center;
                display: inline-block;
                position: relative;
                border: 1px solid $grey_border-color;
                width: 70px;
                height: 40px;
                &::after {
                    position: absolute;
                    font-size: 18px;
                    font-family: $font-light;
                    display: inline-block;
                    left: 0;
                    top: -36px;
                }
            }
            .from {
                &::after {
                    content: "Von";
                }
            }
            .to {
                &::after {
                    content: "Bis";
                }
            }
        }
    }
}
.woof {
    .widget_price_filter {
        .ui-slider {
            .ui-slider-handle {
                background-color: $orange-color !important;
                border-radius: 0 !important;
                height: 12px !important;
                width: 12px !important;
                border: none !important;
            }
            .ui-slider-range {
                background-color: $orange-color !important;
                border-radius: 0 !important;
                font-size: 0.7em;
                position: absolute;
                z-index: 1;
            }
        }
        .ui-slider-horizontal {
            height: 1px !important;
            background-color: $grey-color !important;
        }
    }
}
.woof_childs_list {
    margin: 0px 0 0 15px !important;
}
.woof_container_product_cat {
    .woof_checkbox_term {
        display: none !important;
    }
    .woof_list li {
        display: inherit;
        font-size: 18px;
        border-bottom: 1px solid #ebe9e0;
        padding: 10px 0 !important;
        &:last-child {
            border-bottom: none !important;
        }
        .woof_checkbox_label {
            padding-left: 40px !important;
            @include transition;
            &:hover {
                color: $orange-color;
            }
            .woof_checkbox_count {
                display: none;
            }
            &::after,
            &::before {
                content: none !important;
            }
        }
        ul li {
            border-bottom: none !important;
            padding: 0 !important;
            &::before {
                content: none !important;
            }
        }
    }
    ul.woof_list_checkbox {
        li {
            display: block;
            position: relative;
            &::before {
                position: absolute;
                @include transition;
            }
            &:nth-child(1) {
                &::before {
                    content: url("../img/header/menu__icon_black/1.png");
                }
                &:hover {
                    &::before {
                        content: url("../img/header/menu__icon_black/orange/1.png");
                    }
                }
            }
            &:nth-child(2) {
                &::before {
                    content: url("../img/header/menu__icon_black/2.png");
                }
                &:hover {
                    &::before {
                        content: url("../img/header/menu__icon_black/orange/2.png");
                    }
                }
            }
            &:nth-child(3) {
                &::before {
                    content: url("../img/header/menu__icon_black/3.png");
                }
                &:hover {
                    &::before {
                        content: url("../img/header/menu__icon_black/orange/3.png");
                    }
                }
            }
            &:nth-child(4) {
                &::before {
                    content: url("../img/header/menu__icon_black/5.png");
                }
                &:hover {
                    &::before {
                        content: url("../img/header/menu__icon_black/orange/5.png");
                    }
                }
            }
            &:nth-child(5) {
                &::before {
                    content: url("../img/header/menu__icon_black/4.png");
                }
                &:hover {
                    &::before {
                        content: url("../img/header/menu__icon_black/orange/4.png");
                    }
                }
            }
            &:nth-child(6) {
                &::before {
                    content: url("../img/header/menu__icon_black/4.png");
                }
                &:hover {
                    &::before {
                        content: url("../img/header/menu__icon_black/orange/4.png");
                    }
                }
            }
        }
    }
    .woof_childs_list {
        margin: 0 !important;
    }
}
.woof_childs_list_opener {
    position: absolute;
    right: 0;
    top: 15px;
    span {
        background-size: auto !important;
    }
}
.woof_container_inner_tags {
    .woof_block_html_items ul {
        @include flex;
        li {
            .woof_label_count {
                display: none;
            }
        }
    }
    .woof_list_label .woof_label_term {
        width: auto !important;
        background-color: transparent !important;
        border: none !important;
        &:hover {
            color: $orange-color !important;
        }
        &::after {
            content: ".";
        }
        &.checked {
            color: $orange-color;
        }
    }
}
.woof_container_pa_farbe {
    .woof_checkbox_label {
        padding-left: 0 !important;
        text-align: center;
        &::after {
            width: 35px;
            height: 35px;
            left: 50%;
            transform: translate(-50%, 0px);
            top: -35px;
        }
        &::before {
            left: 50% !important;
            transform: translate(-50%, 0px) rotate(-45deg) !important;
            top: -18px !important;
            width: 35px !important;
        }
    }
    .woof_block_html_items {
        padding-top: 40px;
    }
    .woof_block_html_items ul {
        display: flex;
        justify-content: space-between;
    }
    .woof_checkbox_count {
        display: none !important;
    }
}
// pagination
.woocommerce {
    nav.woocommerce-pagination {
        ul {
            border: none;
            margin: 20px 0 !important;
            li {
                border: none;
                a,
                span {
                    text-decoration: none;
                    padding: 0;
                    line-height: 1;
                    font-size: 20px;
                    min-width: 1em;
                    background-color: transparent;
                    &:hover {
                        background: transparent;
                        color: inherit;
                    }
                    &.current {
                        background: transparent;
                        color: $orange-color;
                        font-weight: bold;
                    }
                    &.next,
                    &.prev {
                        font-size: 10px;
                        margin: 5px 0 0;
                    }
                }
            }
        }
    }
}

#ajaxsearchlite1 .probox .proinput input,
div.asl_w .probox .proinput input {
    font-size: 16px !important;
    color: $black-color !important;
}
div.asl_m.asl_w {
    padding: 10px 5px 10px 0;
}
