@import "main-bx";
.footer {
    background-color: $black-color;
    position: relative;
    color: $white-color;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $orange-color;
        position: absolute;
        top: 0;
        left: -50%;
        z-index: 0;
    }
    & > .container {
        padding-bottom: 40px;
        padding-top: 100px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 18px;
        &::after {
            content: "";
            width: 20px;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            background-color: $dark_red-color;
            z-index: 0;
        }
        h3 {
            text-transform: uppercase;
            margin-bottom: 18px;
            font-size: 18px;
        }
        p {
            line-height: 1.75;
        }
    }
    &__left {
        width: 100%;
        max-width: 530px;
    }
    &__right {
        width: 100%;
        max-width: 530px;
        @include flex;
        justify-content: space-between;
        &-adress,
        &-contacts {
            flex: 0 0 50%;
        }
        &-pay_method {
            margin-top: 20px;
            p {
                text-transform: uppercase;
                font-family: $font-bold;
                margin-bottom: 10px;
            }
            ul {
                @include flex;
            }
        }
    }
    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        background-color: $white-color;
        padding: 20px 30px;
        z-index: 1;
    }
    &__signature {
        background-color: $white-color;
        color: $black-color;
        font-size: 12px;
        padding: 11px 0 8px;
        position: relative;
        z-index: 1;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        span {
            span {
                color: $dark_red-color;
            }
        }
        a {
            color: $black-color;
        }
        ul {
            display: flex;
        }
        li {
            margin-right: 20px;
            position: relative;
            &::after {
                content: "";
                height: 100%;
                width: 1px;
                background-color: $dark_red-color;
                position: absolute;
                display: block;
                right: -10px;
                top: 0;
            }
            &:last-child {
                margin-right: 0;
                &::after {
                    content: none;
                }
            }
            &:hover {
                a {
                    color: $dark_red-color;
                    text-decoration: underline;
                }
            }
        }
    }
    &__social {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        &:hover {
            svg {
                path {
                    fill: rgb(66, 103, 178);
                }
            }
        }
    }
}

// contact form
.wpcf7-not-valid-tip {
    font-size: 0.85em;
    white-space: nowrap;
    position: absolute;
    left: 10px;
    top: -2px;
}
.wpcf7 .ajax-loader {
    position: absolute;
}
.wpcf7 form .wpcf7-response-output {
    margin: 10px auto;
    padding: 0.2em 0.2em;
    border: 0px solid black;
    font-size: 0.85em;
    color: $black-color;
}
div.wpcf7 .ajax-loader {
    display: none;
}
#footer_checker {
    margin-bottom: 20px;
    .checker__checker {
        max-width: 100px;
        display: inline;
    }
    .button_checker {
        background-color: $blue-color;
        color: $white-color;
        cursor: pointer;
        @include transition;
        margin: 0 0 1rem 0;
        padding: 0.85em 1em;
        border: 1px solid transparent;
        font-size: 0.9rem;
        line-height: 1;
        text-align: center;
        border-radius: 2px;
        &:hover {
            background-color: $blue_hover-color;
        }
    }
    .wpcf7-not-valid-tip {
        display: none;
    }
}
div.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed !important;
}
.wpcf7 form.invalid .wpcf7-response-output {
    border-width: 1px;
    display: table;
}
.wpcf7 form.sent .wpcf7-response-output {
    border-width: 1px;
    display: table;
}
.contact__forms_container {
    width: 100%;
}
.form__control,
.coupon input.input-text {
    display: block;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid $grey-color;
    border-radius: 0;
    background-color: $white-color;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: $black-color;
    @include transition;
    border-radius: 2px;
    &::placeholder {
        font-family: inherit;
        font-size: 1rem;
        font-weight: normal;
    }
    &:focus {
        outline: none;
        border: 1px solid #5d5d5d;
        background-color: #fefefe;
        box-shadow: 0 0 5px #818181;
    }
    &.textarea {
        resize: vertical;
        width: 100%;
        height: 50px;
    }
}
.form__control_btn {
    display: block;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: $blue-color;
    color: $white-color;
    @include transition;
    &:hover {
        background-color: $blue_hover-color;
    }
}

// woocomerce

nav.woocommerce-breadcrumb {
    margin: 1.5em 0;
    a {
        color: $blue-color;
        @include transition;
        &:hover {
            color: $blue_hover-color;
        }
    }
}
