@import "main-bx";

.breadcumbs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $grey-color;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    li {
        margin-right: 20px;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            a {
                font-family: $font-bold;
            }
        }
        &::after {
            content: ">";
            color: inherit;
            font-size: inherit;
            position: absolute;
            right: -13px;
            top: 1px;
        }
        &:last-child {
            &::after {
                content: none;
            }
        }

        &:hover {
            a {
                color: $orange-color;
            }
            svg {
                path {
                    fill: $orange-color;
                }
            }
        }
    }
    a {
        color: $grey-color;
        @include transition;
    }
    .head {
        margin-right: 8px;
    }
}
