@import "main-bx";

.breadcumbs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: $grey-color;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    li {
        margin-right: 20px;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            a {
                font-family: $font-bold;
            }
        }
        &::after {
            content: ">";
            color: inherit;
            font-size: inherit;
            position: absolute;
            right: -13px;
            top: 1px;
        }
        &:last-child {
            &::after {
                content: none;
            }
        }

        &:hover {
            a {
                color: $orange-color;
            }
            svg {
                path {
                    fill: $orange-color;
                }
            }
        }
    }
    a {
        color: $grey-color;
        @include transition;
    }
    .head {
        margin-right: 8px;
    }
}
// contacts form
.contact__forms_container {
    width: 100%;
    max-width: 570px;
    .form__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0 !important;
        label {
            display: block;
            margin: 0;
            font-size: 0.875rem;
            font-weight: normal;
            line-height: 1.8;
            color: $black-color;
        }
    }
    br {
        display: none !important;
    }
}
.form__control,
.coupon input.input-text {
    display: block;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid $grey-color;
    border-radius: 0;
    background-color: $white-color;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: $black-color;
    @include transition;
    border-radius: 2px;
    &::placeholder {
        font-family: inherit;
        font-size: 1rem;
        font-weight: normal;
    }
    &:focus {
        outline: none;
        border: 1px solid #5d5d5d;
        background-color: #fefefe;
        box-shadow: 0 0 5px #818181;
    }
    &.textarea {
        resize: vertical;
        width: 100%;
        height: 50px;
    }
}
.form__control_btn {
    display: block;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: $blue-color;
    color: $white-color;
    @include transition;
    &:hover {
        background-color: $blue_hover-color;
    }
}

.video__container {
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    overflow: hidden;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// page__phone
.page__phone {
    position: fixed;
    right: -18.75rem;
    top: 30%;
    z-index: 100;
    @include transition;
    &.active {
        right: 0;
    }
    &--outer {
        font-size: 3em;
        position: absolute;
        width: 5rem;
        height: 5rem;
        text-align: center;
        color: $white-color;
        left: -5rem;
        cursor: pointer;
        background-color: $grey-color;
        display: flex;
        align-items: center;
        justify-content: center;
        @include to($mobile) {
            width: 4rem;
            height: 4rem;
            left: -4rem;
        }
        .icon {
            &::before {
                content: "\EA01";
            }
        }
    }
    &--inner {
        width: 18.75rem;
        background-color: #f5f5f5;
        padding: 1.875rem;
        position: relative;
        &.work--time {
            padding-right: 0;
            .page__phone--form {
                margin-top: 0 !important;
            }
            h3 {
                margin: 0 0 10px;
                font-size: 1.40625rem;
                font-weight: 500;
                line-height: 1.2;
            }
            svg {
                width: 16px;
                margin-right: 10px;
                path {
                    color: $white-color;
                }
            }
            p.tel {
                display: flex;
                align-items: center;
                padding: 0.5em;
                background-color: $orange-color;
            }
            a.page__phone--tel {
                line-height: 1;
                color: $white-color;
                font-size: 1.25em;
                position: relative;
                z-index: 1;
            }
            .img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 160px;
                img {
                    width: 100%;
                    display: block;
                }
            }
            a.page__phone--btn {
                display: block;
                width: fit-content;
                font-size: 0.875rem;
                color: $white-color;
                background-color: $blue-color;
                @include transition;
                text-align: center;
                padding: 0.5rem 1rem;
                margin-top: 20px;
                border-radius: 2px;
                position: relative;
                z-index: 1;
                &:hover {
                    background-color: $blue_hover-color;
                }
            }
        }
    }
    &--form {
        font-size: 0.9em;
        margin-top: 1.25rem;
        p {
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
        }
        a {
            color: $blue-color;
            &:hover,
            &:focus {
                color: $blue_hover-color;
            }
        }
    }
}
// woocomerce

nav.woocommerce-breadcrumb {
    margin: 1.5em 0;
    a {
        color: $blue-color;
        @include transition;
        &:hover {
            color: $blue_hover-color;
        }
    }
}

// reveiws
.reveiws {
    &__slider {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        @include to($mobile) {
            max-width: 100%;
            .slick-dots {
                bottom: -50px;
            }
        }
        &-item {
            width: 100%;
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            @include to($mobile) {
                flex-wrap: wrap;
                max-width: 320px;
            }
            &--left {
                width: 100%;
                max-width: 500px;
                img {
                    border-radius: 50%;
                    overflow: hidden;
                    display: block;
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    margin: 0 auto;
                }
                @include to($mobile) {
                    margin-bottom: 20px;
                }
            }
            &--right {
                width: 100%;
                max-width: 650px;

                .description {
                    margin-bottom: 1rem;
                    font-size: 1.40625rem;
                }
                .signature {
                    font-size: 1.125em;
                    font-weight: bold;
                    color: $grey_footer_bottom-color;
                }
                @include to($mobile) {
                    text-align: center;
                }
            }
        }
    }
    .slick-slide {
        @include to($mobile) {
            margin-right: 3em;
        }
    }
    .slick-prev:before,
    .slick-next:before {
        color: $blue-color;
        font-size: 28px;
    }
}
