@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("ttf");
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff") format("woff");
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("ttf");
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff") format("woff");
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoCondensed-Light", sans-serif;
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf") format("ttf");
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.woff") format("woff");
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.woff2") format("woff2");
    
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "BankGothic";
    src: url("../fonts/BankGothic/BankGothic.woff") format("woff");
    src: url("../fonts/BankGothic/BankGothic.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
